################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AntiAfkApp/bin/Release/netcoreapp2.2
